<html>
<head>
    <title>Home </title>
</head>
<body>
<h1>Data Quality</h1>
<table>
    <tr>      <th>Domain</th>

      <th>Item</th>
      <th>Definition</th>
      <th>TODOS</th>
    </tr>
    <tr>
        <td>Comparability</td>

      <td> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Completeness</td>
      <td></td>

      <td></td>
      <td></td>
    </tr>
    <tr>
        <td>Correctness</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Currency</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Consistency</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Accuracy</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Concordance</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Conformance</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Plausability</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Availability</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Credibility</td>
        <td></td>
  
        <td></td>
        <td></td>
      </tr>
  </table>
</body>
</html>